div{
    background-color: green;
    width:20%;
    height: 180px;
    margin-left: 30em;
    margin-top: 15em;
    animation: 1s infinite khizar;
}

@keyframes khizar {

    from{
        width: 0%;
        background-color: blue;
        height: 20px;
    }
    to{
        width: 60%;
        height: 40px;
        background-color: yellow;
    }

    /* 0%{
        background-color: blue;
    } 
     30%{ 
        /* background-color: yellow; */
        /* height: 30px; */
        /* border-radius: 220px; */
        /* transform: rotate(360deg); */
        /* transform: scale(1.1); */
        /* transform: skewX(90deg); */
        /* transform: skewY(180deg); */
        /* transform: skew(180deg); */
     /* /* }  */

    }